body{
    margin:auto;
}
a{
    text-decoration:none;
}
#header{
    height:60px;
    background-color:#e28b62
}

#icon{
    float: left;
    margin-left:1%;
    margin-top:-1%
}

#social{
    float: right; 
}

.slogo{
    height:50px;
    width:50px;
}
#loginid{
    border-radius:10px;
    color:rgb(14, 218, 92);
    margin-top:20px;
    background-color: rgb(231, 18, 28);
}

.headingText{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    color:red;
}

#content{
    display: inline-block;
    width:90%;
    margin-left:10%;
}

#filterDiv{
    height:700px;
    width:20%;
    box-shadow:20px 20px 20px grey;
    float: left;
}
h1{
    text-align: center;
    color:rgb(45, 13, 184);
}
hr{
    content:hidden;
}
h4{
    color:rgb(218, 19, 19);
    margin-left: 10px;
}
p{
    color:#070200;
    font-weight:bold;
}

#contentDiv{
    height:661px;
    width:77%;
    margin-left: 3%;
    float: left;
}
.branch{
    height:215px;
    width:70%;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow:20px 20px 10px grey;
}
.branch1{
    width:50%;
    height:200px;
    float: left;
}
.branch1 > img{
    width:80%;
    height:215px;
    border-radius:10px;
}
.branch2{
    width:50%;
    height:180px;
    float: left;
    
}
.componentHeading{
    text-align: center;
    font-weight:bold;
    margin-top:20px;
    margin-left:-80px;
    font-size:20px;
    color:rgb(9, 184, 67);

}
.componentSubHeading{
    margin-top:10px;
    margin-left:10px;
    color:rgb(226, 161, 21);
}
#button1{
    color:#e28b62;
    width:100px;
}
#button11{
    color:rgb(14, 197, 136);
    margin-left:10px;
    width:100px;
}
#button2{
    color:#c9d60b;
    margin-top: 10px;
    width:100px;
}
#button21{
    color:red;
    margin-left:10px;
    width:100px;
}
#b1{
    margin-left:50px;
    margin-top: 20px;
}
#footer{
    height:120px;
    width:100%;
    margin-top: 5%;
    background-color:#c25725
}

#footText{
    text-align: center;
}

.footDiv{
    height:70px;
    width:33%;
    float: left;
    border-right: 2px solid black;
    text-align: center;
}

.noBorder{
    border:none 
}